@import './variable.scss';

.custom-modal {
  height: 80%;
  width: 30%;
  position: fixed;
  visibility: hidden;
  top: 4%;
  left: 4%;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 2010;
  transition: all 200ms ease;
  text-align: center !important;
}

.modal {
  &-content {
    border-radius: 2rem !important;
    margin-top: 0%;
    opacity: 0;
    transition: all 200ms ease;
    width: 100%;
    justify-content: center !important;
  }

  &-header {
    padding: 0%;
    position: relative;
    display: block !important;
    .close {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 !important;
      @include svgColor($blackColor, none);
    }
  }

  &-footer {
    justify-content: left !important;
  }
}

.custom-modal.open {
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: visible;
  .modal-content {
    opacity: 1;
    margin-top: 0;
    width: 80%;
    height: 50%;
  }
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  @include focusStateReset;
}

.container-scroll_modal {
  height: auto;
}
